* {
    font-family: 'Inter';
}

body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;

    height: 100vh;
    max-height: 100vh;
}

header {
    background-color: #597A58;
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main div{
    display: flex;
    flex-direction: column;
}

main div p{
    margin-top: 0px;
    font-size: 20px;
}

.backgroundImage {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wholePageBackgroundImage {
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
}

.splitPageBackgroundImage {
    background-size: cover;
    color: #FFFFFF;
    height: 20%;
}

.basePageBackground{
    background-color: #D2D9D3;
    color: #252525;
    height: auto;
    flex-grow: 1;
}

.iconImage {
    position: absolute;
    left: 10vw;
    top: 0px;
}

nav {
    width: 50%;
    margin-left: 2vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}


.lunchMenuButton{
    padding: 5px 35px 5px 35px;
    background-color: #3D6636;
    font-size: 24px;
}

footer {
    background-color: #555555;
    width: 100%;

    margin-top: auto;

    color: #FFFFFF;
    font-size: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
}

footer div {
    display: flex;
    align-items: center;

    margin-left: 2vw;
    gap: 2vw;
}

ul{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

li{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.centeredContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centeredContentDiv h2{
    margin-top: 35px;
}